{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": false,
                "modules": "auto",
                "forceAllTransforms": true,
                "targets": "last 1 version, > 1%"
            }
        ]
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import"]
}