.social-links {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;

  &__list-item {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    border-radius: 100rem;
    background-color: $primary-color;
    width: 36px;
    height: 36px;
    text-align: center;

    .ratio__box {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      transform: translateY(-50%);
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $secondary-color;
    }
  }
}
