/**
 * Page structure grid
 */

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$sidebar-breakpoint: medium;

// Grid system
.content--site {
  @include xy-grid;
  @include xy-grid-container;
}

.main {
  @include xy-cell;

  &--has-sidebar {
    @include breakpoint($sidebar-breakpoint) {
      @include xy-cell($main-sm-columns - $sidebar-sm-columns of 12);
    }
  }
}

.sidebar {
  @include xy-cell;

  @include breakpoint($sidebar-breakpoint) {
    @include xy-cell($sidebar-sm-columns of 12);
  }
}
