/**
 * Page structure grid
 */

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

.wrap {
  padding: $global-padding 0;
}

// Grid system
.content {
  @include xy-grid;
  @include xy-grid-container;
}

.main {
  @include xy-cell;

  .sidebar-primary & {
    @include breakpoint(medium) {
      @include xy-cell($main-sm-columns - $sidebar-sm-columns of 12);
    }
  }
}

.sidebar {
  @include xy-cell;

  @include breakpoint(medium) {
    @include xy-cell($sidebar-sm-columns of 12);
  }
}
