/**
 * Website footer
 */

.footer--site {
  background: $primary-color;
  color: $white;

  &__inner {
    @include xy-grid;
    @include xy-grid-container;
    padding: $global-padding;
  }

  &__copyright {
    @include xy-cell;
    text-align: center;
    margin-bottom: 0;
  }
}
