/*
 * Primary Menu
 */

$active-bar-height: 2px;

.menu-primary {
  @include flex-align($x: right);

  // Active menu item styles
  > .menu-item {
    > a[aria-current="page"] {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        height: $active-bar-height;
        background-color: $white;
        width: calc(100% - 2rem);
        bottom: -$active-bar-height;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  // Dropdown menu with some depth
  .submenu {
    position: absolute;
    left: 50%;
    background-color: $white;
    box-shadow: $shadow-depth2;
    min-width: $dropdownmenu-min-width;
    padding-top: $global-minimum-margin;
    padding-bottom: $global-minimum-margin;
    border-radius: $global-radius;
    transform: translateX(-50%);

    a {
      color: $primary-color;
    }
  }

  // Don't centre last submenu
  // so it doesn't stretch off the screen
  > li:last-of-type {
    .submenu {
      transform: none;
      right: 0;
      left: auto;
    }
  }

  // Arrow for menu parents
  .is-dropdown-submenu-parent {
    &::after {
      @include css-triangle($dropdownmenu-arrow-size, $white, down);
    }
  }
}
