/**
 * Mobile bottom bar
 */

$bottombar-shadow: 0 -1px 3px rgba(63, 69, 58, 0.12), 0 -1px 2px rgba(63, 69, 58, 0.24);
$bottombar-background: $secondary-color;
$bottombar-breakpoint-to-hide: medium;

.menu-bottombar {
  width: 100%;
  position: sticky;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bottombar-background;
  padding: $global-padding;
  margin-bottom: 0;
  box-shadow: $bottombar-shadow;

  @include breakpoint($bottombar-breakpoint-to-hide) {
    display: none;
  }

  > .button {
    margin-bottom: 0;
  }
}
