.mobile-bottom-bar {
  width: 100%;
  background-color: $secondary-color;
  padding: $global-padding;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  a {
    color: $black;
  }
  .button {
    margin-bottom: 0;
    margin-left: auto;
  }
}
