/**
 * Foundation Off-canvas Container
 */

@include foundation-off-canvas;

.off-canvas {
  .no-js & {
    transition-delay: 0s;
  }

  .close-button {
    top: 0.5rem;
    right: 1rem;
    color: $white;
  }

  .off-canvas-inner {
    padding: $global-padding * 2;
  }
}

.js-off-canvas-overlay.is-overlay-fixed {
  z-index: $offcanvas-overlap-zindex - 1;
}
