/**
 * Off-Canvas Panel
 */

$offcanvas-size: 300px;
$offcanvas-header-background: $primary-color;
$offcanvas-content-background: $white;
$offcanvas-shadow: $shadow-depth3;
$offcanvas-overlay-zindex: 10;
$offcanvas-transition-length: 0.3s;
$offcanvas-transition-timing: $global-transition-curve;
$offcanvas-exit-background: rgba($black, 0.5);

.offcanvas {
  background-color: $offcanvas-content-background;
  height: 100%;
  left: 100%;
  overflow: auto;
  max-width: rem-calc($offcanvas-size);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $offcanvas-overlay-zindex;
  transform: translateX(0);
  will-change: translateX;
  transition: transform $offcanvas-transition-length $offcanvas-transition-timing;

  &--is-ready {
    &[aria-hidden="false"] {
      transform: translateX(-100%);
      box-shadow: $shadow-depth4;
    }

    &[aria-hidden=true] {
      transition: transform $offcanvas-transition-length $offcanvas-transition-timing, visibility $offcanvas-transition-length;
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;
    transition: opacity $offcanvas-transition-length $offcanvas-transition-timing, visibility $offcanvas-transition-length;
  }

  &--is-active {
    & + .offcanvas__overlay {
      visibility: visible;
      opacity: 1;
      z-index: $offcanvas-overlay-zindex - 1;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $offcanvas-exit-background;

    }
  }

  &__head {
    padding-left: $global-padding;
    padding-right: $global-padding;
    padding-bottom: $global-padding * 2;
    background-color: $offcanvas-header-background;
  }

  &__controls {
    padding: $global-minimum-margin;
    background-color: $offcanvas-header-background;
    text-align: right;
  }

  &__content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__title {
    color: $white;

    > .ratio__box {
      margin: auto;
    }
  }

  &:not(.offcanvas--is-ready) {
    margin-bottom: 20px
  }

  &:not(.offcanvas--is-ready) .offcanvas__close {
    display: none
  }
}
