/**
 * Website header
 */

$hide-bar-breakpoint: 'large';
$show-hero-breakpoint: 'large';
$show-nav-breakpoint: 'large';
.site-header {
  .no-js & {
    .menu-icon {
      display: none;
    }
  }
  a {
    color: $white;
  }
  .title-bar-small {
    @include hide-for($hide-bar-breakpoint);
    width: 100%;
    background-color: $primary-color;
    .title-bar-left {
      @include flex-grid-column();
    }
    .title-bar-right {
      @include flex-grid-column('shrink');
    }
    .container {
      padding: $global-padding $global-padding * 2;
      @include breakpoint(medium) {
        padding: $global-padding * 2 $global-padding * 2 $global-padding * 3;
      }
      @include breakpoint(large) {
        padding: $global-padding * 3 $global-padding * 3;
      }
    }
  }
  .column {
    @include flex-grid-column();
    height: 100%;
    text-align: center;
  }
  .site-hero {
    @include show-for($show-hero-breakpoint);
    width: 100%;
    background-color: $primary-color;
    .container {
      min-height: 20vh;
    }
  }
  .site-nav {
    @include show-for($show-nav-breakpoint);
    width: 100%;
    background-color: darken($primary-color, 10%);
    text-align: center;
    z-index: 10;
    .menu {
      margin: auto;
      justify-content: center;
    }
  }
  .container {
    @include flex-grid-row;
    @include flex-align(null, 'middle');
    height: 100%;
  }
  .site-title {
    margin-bottom: 0;
    color: $white;
  }
  .site-description {
    @extend .site-title;
    display: none;
    @include breakpoint(medium) {
      display: block;
      line-height: $header-lineheight;
    }
  }
}

.site-nav.is-stuck {
  animation: 'slideIn' $offcanvas-transition-length $offcanvas-transition-timing;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
