/**
 * Website header
 */

// Switches between narrow title bar and full navigation
$alt-nav-style-breakpoint: 'large';

.site-header {
  .no-js & {
    .menu-icon {
      display: none;
    }
  }
  a {
    color: $white;
  }
  .site-title {
    margin-bottom: 0;
    color: $white;
  }

  /* Title Bar for small screens */
  .site-title-bar-small {
    @include hide-for($alt-nav-style-breakpoint);
    width: 100%;
    background-color: $primary-color;
    .site-title-bar-small-inner {
      @include flex-grid-row;
      @include flex-align($y: middle);
      padding: $global-padding;
      @include breakpoint(medium) {
        padding: $global-padding * 1.5;
      }
      .site-title-bar-left {
        @include flex-grid-column();
      }
      .site-title-bar-right {
        @include flex-grid-column('shrink');
        .menu-button {
          color: $white;
          .menu-icon {
            margin-left: $global-margin * 0.5;
          }
        }
      }
    }
  }

  /* Full Navigation for larger screens */
  .site-navigation-full {
    @include show-for($alt-nav-style-breakpoint);
    width: 100%;
    background-color: $primary-color;
    .site-navigation-full-inner {
      @include flex-grid-row;
      @include flex-align($y: middle);
      height: 100%;
      .site-logo-section {
        @include flex-grid-column();
      }
      .site-links-section {
        @include flex-grid-column('shrink');
        justify-content: flex-end;
      }
    }
    /*
    &.is-stuck {
      animation: 'slideIn' $offcanvas-transition-length $offcanvas-transition-timing;
    }
    */
  }
}

/*
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
*/
