@include foundation-global-styles;
@include breakpoint(xlarge) {
  body {
    font-size: 110%;
  }
}

@include breakpoint(jumbo) {
  body {
    font-size: 120%;
  }
}

a:link,
a:visited {
  color: $black;
}

a:focus,
a:active,
a:hover {
  color: $dark-gray;
}

// Only use this if paired with FontFaceObserver javascript
.no-fonts {
  ul, ol, div, span, p, h1, h2, h3, h4, h5 {
    font-family: sans-serif !important;
  }
}
