/**
 * Styles for Headroom.js
 * @link https://wicky.nillia.ms/headroom.js/
 */

.headroom {
  will-change: transform;
  transition: transform 250ms $global-transition-curve;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
