/**
 * Inline Icons
 * Use with the inline-icon mixin
 *
 * Example usage:
 *
.inline-icon-calendar {
  &::before {
    background-image: inline-icon(calendar, $primary-color);
  }
}
 */

@mixin inline-icon-base($size) {
  &::before {
    content: '';
    display: inline-block;
    width: $size;
    height: $size;
  }
}

.inline-icon {
  @include inline-icon-base(1rem);
  font-size: 0;

  &::before {
    margin-right: 0.25rem;
    vertical-align: middle;
  }
}
