/**
 * Styles for lazysizes
 * @link https://afarkas.github.io/lazysizes/index.html
 */

// Colours used in pulsing animation
$lazyload-color: $light-gray;
$lazyload-color2: darken($lazyload-color, 5%);

.ratio__box {
  position: relative;
  display: block;

  /* padding-bottom is calculated and rendered into HTML */
  img,
  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.ratio__helper {
  display: block;
}

.lazyload,
.lazyloading {
  background-color: $lazyload-color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: placeholderPulse;
  animation-timing-function: ease-in-out;
}

@keyframes placeholderPulse {
  0% {
    background-color: $lazyload-color;
  }

  50% {
    background-color: $lazyload-color2;
  }

  100% {
    background-color: $lazyload-color;
  }
}

/**
 * Material Design image load
 * @credit: https://stackoverflow.com/questions/36377545/implement-material-image-loading-pattern-using-css-filters
 */
.lazyloaded {
  animation: progressComplete 2s;
  animation-fill-mode: forward;
}

@keyframes progressComplete {
  0% {
    opacity: 0;
    filter: saturate(20%) brightness(125%);
  }

  66.7% {
    opacity: 1;
  }

  83.3% {
    filter: saturate(87%) brightness(100%);
  }

  100% {
    filter: saturate(100%) brightness(100%);
  }
}
