/**
 * Styles for Magnific Popup
 */

.mfp-content {
  opacity: 0;
  transform: translateY(5%);
  transition-property: opacity, transform;
  transition-duration: $offcanvas-transition-length;
  transition-timing-function: $offcanvas-transition-timing;
}

.mfp-bg {
  opacity: 0;
  background-color: $primary-color;
  transition: opacity $offcanvas-transition-length $offcanvas-transition-timing;
}

.mfp-ready {
  .mfp-content {
    opacity: 1;
    transform: translateY(0);
  }
  &.mfp-bg {
    opacity: .8;
  }
}
