/**
 * CSS file to be inlined in the head
 */

@import 'settings/settings';

.pace {
  pointer-events: none;
  user-select: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;

  .pace-progress {
    height: 4px;
    background: $secondary-color;
    transition: width 0.2s $global-transition-curve;
  }

  &.pace-inactive {
    display: none;
  }
}
