/**
 * Login screen styles
 */

@import 'settings/settings';
@import "../../bower_components/foundation-sites/scss/foundation.scss";

body {
  background: $primary-color;
}

#login h1 a,
.login h1 a {
  background-image: url('../images/logo.svg');
  width: 320px;
  height: 80px;
  background-size: 320px 80px;
}

.login #nav,
.login #backtoblog {
  text-align: center;
  a:link,
  a:visited {
    color: $white;
  }
  a:focus,
  a:active,
  a:hover {
    color: $white;
    opacity: .9;
  }
}
