/**
 * Login screen styles
 */

@import 'settings/settings';
@import "../../bower_components/foundation-sites/scss/foundation.scss";

body {
  background: $primary-color;
}

.login #nav,
.login #backtoblog {
  text-align: center;
  a:link,
  a:visited {
    color: $white;
  }
  a:focus,
  a:active,
  a:hover {
    color: $white;
  }
}
