/**
 * Accordion
 */

// Global
$accordion-radius: $global-radius;
$accordion-margin-bottom: $global-margin;
// Headers
$accordion-header-background: $primary-color;
$accordion-header-color: $white;
$accordion-header-font-size: inherit;
$accordion-header-padding: $global-padding;
$accordion-header-focus-background: darken($accordion-header-background, 10%);
$accordion-header-focus-color: $white;
$accordion-header-active-background: $dark-gray;
$accordion-header-active-color: $white;
$accordion-triangle-color: rgba(0, 0, 0, 0.5);
$accordion-triangle-active-color: rgba(255, 255, 255, 0.5);
$accordion-header-outline: $global-outline;
// Panel
$accordion-panel-background: $light-gray;
$accordion-panel-color: $black;
$accordion-panel-font-size: inherit;
$accordion-panel-padding: $global-padding;
$accordion-panel-outline: none;

.accordion {
  margin-bottom: $accordion-margin-bottom;

  &__header {
    display: block;
    cursor: pointer;
    background-color: $accordion-header-background;
    color: $accordion-header-color;
    border-bottom: darken($accordion-header-background, 10%);
    font-size: $accordion-header-font-size;
    line-height: 1.2;
    margin-bottom: 0;
    padding: $accordion-header-padding;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s $global-transition-curve,
      color 0.2s $global-transition-curve;

    // Triangle indicator
    &::after {
      content: '';
      border-left: 0.313rem solid transparent;
      border-right: 0.313rem solid transparent;
      border-top: 0.313rem solid $accordion-triangle-color;
      margin-top: -0.25rem;
      position: absolute;
      right: 1.25rem;
      top: 50%;
      width: 0;
      height: 0;
    }

    &:first-child {
      border-radius: $accordion-radius $accordion-radius 0 0;
    }

    &:last-of-type:not([aria-selected=true]) {
      border-radius: 0 0 $accordion-radius $accordion-radius;
    }

    &[aria-selected=true] {
      background-color: $accordion-header-active-background;
      color: $accordion-header-active-color;
    }

    // Triangle indicator when active
    &[aria-selected=true]::after {
      border-bottom: 0.313rem solid $accordion-triangle-active-color;
      border-top: 0;
    }

    &[aria-selected=false]:focus,
    &[aria-selected=false]:hover {
      background-color: $accordion-header-focus-background;
      color: $accordion-header-focus-color;
    }

    &:focus {
      outline: $accordion-header-outline;
    }
  }

  &__panel {
    background-color: $accordion-panel-background;
    overflow: hidden;
    color: $accordion-panel-color;
    font-size: $accordion-panel-font-size;
    transition: height 0.2s $global-transition-curve,
      visibility 0.2s;
    outline: $accordion-panel-outline;

    &:last-child {
      border-radius: 0 0 $global-radius $global-radius;
    }

    &[aria-hidden="true"] {
      visibility: hidden;
      height: 0;
    }

    &[aria-hidden="false"] {
      visibility: visible;
    }
  }

  &__inner {
    padding: $accordion-panel-padding;

    > :last-child {
      margin-bottom: 0;
    }
  }
}
