/**
 * Foundation Button Group
 */

$buttongroup-margin: 1rem;
$buttongroup-spacing: $global-minimum-margin;
$buttongroup-child-selector: '.button';
$buttongroup-expand-max: 6;
$buttongroup-radius-on-each: true;

.button-group {
  @include button-group;

  // Even-width Group
  &--expanded {
    @include button-group-expand;
  }
}
