/**
 * Carousel
 */

@import "../../node_modules/glider-js/glider.min.css";

.carousel {
  position: relative;
}

.glider-controls {
  list-style: none;
  margin: 0;

  > li {
    margin: 0;
  }
}

.glider-control {
  @include inline-icon-base(2rem);
  padding: 2rem;
  background-color: $white;
  border-radius: 100%;
  box-shadow: $shadow-depth3;
  transition: $button-transition;

  &.disabled {
    box-shadow: $shadow-depth1;
    opacity: 0.33;
  }

  &:hover,
  &:focus {
    background-color: lighten($primary-color, 40%);
  }

  &::before {
    position: absolute;
  }
}

.glider-prev {
  &::before {
    background-image: inline-icon('arrow-right', $primary-color);
    transform: scaleX(-1) translateX(50%) translateY(-50%);
  }
}

.glider-next {
  &::before {
    background-image: inline-icon('arrow-right', $primary-color);
    transform: translateX(-50%) translateY(-50%);
  }
}

.glider-dot.active {
  background-color: $primary-color;
}

// Give enough margin for comfortable tap size distance
.glider-slide {
  margin-left: $global-minimum-margin;
  margin-right: $global-minimum-margin;
}

// Give enough padding for box-shadows to show
.glider-track {
  padding-top: $global-minimum-margin;
  padding-bottom: $global-minimum-margin;
}
