/**
 * Carousel
 */

@import "../../node_modules/glider-js/glider.css";

.carousel {
  position: relative;

  &__controls {
    list-style: none;
    margin: 0;
  }

  &__control-list-item {
    margin: 0;
  }

  &__control {
    &::before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
    }

    user-select: none;
    position: absolute;
    z-index: 2;
    text-decoration: none;

    border: 0;
    top: 30%;
    cursor: pointer;
    opacity: 1;
    line-height: 1;
    padding: 2rem;
    background-color: $white;
    border-radius: 100%;
    box-shadow: $shadow-depth3;
    transition: $button-transition;

    &.disabled {
      box-shadow: $shadow-depth1;
      opacity: 0;
    }

    &:hover,
    &:focus {
      background-color: lighten($primary-color, 40%);
    }

    &::before {
      position: absolute;
    }
  }

  &__control--prev {
    left: -23px;

    &::before {
      background-image: inline-icon('arrow-right', $primary-color);
      transform: scaleX(-1) translateX(50%) translateY(-50%);
    }
  }

  &__control--next {
    right: -23px;

    &::before {
      background-image: inline-icon('arrow-right', $primary-color);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__dots {
    .active {
      background-color: $primary-color;
    }
  }

  &--cards {
    .card {
      margin: $global-minimum-margin;

      // Small margin to accomodate the box shadow
      &:first-child {
        margin-left: 2px;
      }

      // Small margin to accomodate the box shadow
      &:last-child {
        margin-right: 2px;
      }
    }
  }
}
