/**
 * Foundation Cards
 * + integration with Divider Mixin
 * + integration with Hover Transition Mixin
 */

// Divider effect
$card-divider-height: 10;

/** Divider options:
 * forward
 * back
 * peak
 * valley
 * split
 * round
 * serrated
 */

$card-divider-style: 'back';

/** Position options:
 * top-outside
 * top-inside
 * bottom-outside
 * bottom-inside
 */

$card-divider-position: 'top-outside';

// Hover effect
$card-hover-icon-colour: $white;

/** Hover type options:
 * circle
 * square
 */

$card-hover-type: 'circle';

/** Hover icon options:
 * @link https://github.com/thinknathan/sass-inline-icons/blob/master/sass-inline-icons.scss
 */

$card-hover-icon: 'chevron-right';

/** Hover transition options:
 * fade
 * slide-up
 * slide-right
 * slide-down
 * slide-left
 */

$card-hover-transition: 'fade';

.card {
  @include card-container($card-background, $card-font-color, $global-padding, $global-radius);
}

.card-divider {
  @include card-divider;
}

.card-section {
  @include card-section;
}

.card-image {
  > .intrinsic-ratio-box {
    display: block;
    max-width: none !important;

    > img {
      object-fit: cover;
    }
  }
}

.card-image + .card-section {
  @include divider($card-divider-style, $card-divider-height, $card-background, $card-divider-position);
}

.card-meta {
  font-size: 0.9rem;
  letter-spacing: 0.04em;
  opacity: 0.9;
}

.card-image {
  @include hover-transition($card-hover-type, $card-hover-transition, 0.66, $primary-color, $card-hover-icon, $card-hover-icon-colour, 30, $primary-color);
}
