/**
 * Pikaday Datepicker
 */

// Colours
$pd-text-color: $black;
$pd-title-color: $black;
$pd-title-bg: $white;
$pd-picker-bg: $white;
$pd-picker-border: transparent;
$pd-picker-border-bottom: transparent;
$pd-picker-shadow: rgba($black, 0.5);

// Headers, eg days of the week
$pd-th-color: $dark-gray;

// Days
$pd-day-color: $black;
$pd-day-bg: darken($pd-title-bg, 4%);
$pd-day-hover-color: $white;
$pd-day-hover-bg: $secondary-color;
$pd-day-today-color: $primary-color;
$pd-day-selected-color: $white;
$pd-day-selected-bg: darken($pd-day-today-color, 5%);
$pd-day-selected-shadow: darken($pd-day-today-color, 10%);
$pd-day-disabled-color: $medium-gray;

// Weeks
$pd-week-color: darken($pd-title-bg, 4%);

// Ranges
$pd-inrange-color: $black;
$pd-inrange-bg: darken($pd-title-bg, 4%);

$pd-startrange-color: $white;
$pd-startrange-bg: $success-color;

$pd-endrange-color: $white;
$pd-endrange-bg: $primary-color;

// Fonts
$pd-font-family: $body-font-family;

@import '../../node_modules/pikaday/scss/pikaday.scss';
