/**
 * Gravity Forms Styles
 *
 * Version: 1.0.0
 * License: MIT - http://wpsitecare.mit-license.org/
 */

.gform_wrapper {
  // No empty line allowed
  .gfield_html,
  .gsection {
    margin: $gravity-margin 0 0;
    padding: 0 0 $gravity-margin-small;

    @include breakpoint(large) {
      padding-bottom: $gravity-margin-medium;
    }
  }

  /*
  .gfield_html {}
  */
}
