/**
 * Inline Icons
 * Use with the inline-icon mixin
 *
 * Example usage:
 *
.inline-icon-calendar {
  &::before {
    background-image: inline-icon(calendar, $primary-color);
  }
}
 */

.inline-icon {
  &::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    vertical-align: middle;
  }
}
