/**
 * Foundation Label
 */

$label-background: $primary-color;
$label-color: $white;
$label-color-alt: $black;
$label-palette: $foundation-palette;
$label-font-size: 0.8rem;
$label-padding: 0.33333rem 0.5rem;
$label-radius: $global-radius;

.label {
  @include label;
  background: $label-background;
  color: $label-color;

  @each $name,
  $color in $label-palette {
    &--#{$name} {
      background: $color;
      color: color-pick-contrast($color, ($label-color, $label-color-alt));
    }
  }
}
