/*
 * Hamburger menu styles
 * Adapted from:
 *@link http://mladenplavsic.github.io/hamburger-loader-animation-pure-css/
 */

.hamburger-loader-circle {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.hamburger-loader-circle div {
  width: 35%;
  height: 35%;
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: $white transparent transparent;
  transition: all 0.3s;
  opacity: 1;
}

.hamburger-loader-circle div:nth-child(1) {
  top: 32%;
  left: 25%;
}

.hamburger-loader-circle div:nth-child(2) {
  top: 45%;
  left: 25%;
}

.hamburger-loader-circle div:nth-child(3) {
  top: 60%;
  left: 25%;
}

.offcanvas-toggle:not(.is-ready) {
  .hamburger-loader-circle div {
    border-radius: 50%;
    top: 25%;
    left: 25%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .hamburger-loader-circle div:nth-child(1) {
    animation-name: spin_1_circle;
    animation-duration: 1000ms;
  }

  .hamburger-loader-circle div:nth-child(2) {
    animation-name: spin_2_circle;
    animation-duration: 600ms;
    opacity: 0.8;
  }

  .hamburger-loader-circle div:nth-child(3) {
    animation-name: spin_3_circle;
    animation-duration: 1500ms;
    opacity: 0.6;
  }
}

@keyframes spin_1_circle {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes spin_2_circle {
  from {
    transform: rotate(120deg);
  }

  to {
    transform: rotate(480deg);
  }
}

@keyframes spin_3_circle {
  from {
    transform: rotate(600deg);
  }

  to {
    transform: rotate(240deg);
  }
}
