/**
 * Menu
 */

$menu-margin: $global-margin 0;
$menu-nested-margin: $global-menu-nested-margin;
$menu-items-padding: $global-menu-padding;
$menu-simple-margin: 1rem;
$menu-item-color-active: $white;
$menu-item-background-active: transparent;
$menu-icon-spacing: 0.25rem;
$menu-item-background-hover: transparent;
$menu-state-back-compat: true;
$menu-centered-back-compat: true;
$menu-icons-back-compat: true;

.menu {
  @include menu-base;

  // Default orientation: horizontal
  &,
  &--horizontal {
    @include menu-direction(horizontal);
  }

  // Vertical orientation modifier
  &--vertical {
    @include menu-direction(vertical);
  }

  // Even-width modifier for horizontal orientation
  &--expanded {
    @include menu-expand;
  }

  // Simple
  &--simple {
    @include menu-simple;
  }

  // Align left
  &--align-#{$global-left} {
    @include menu-align(left);
  }

  // Align right
  &--align-#{$global-right} {
    @include menu-align(right);
  }

  // Align center
  &--align-center {
    @include menu-align(center);
  }

  .mm-collapse {
    display: none;
  }

  .mm-show {
    display: flex;
  }

  .mm-collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.3s $global-transition-curve;
  }

  &--parent {
    position: relative;

    &::after {
      @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, down);
      position: absolute;
      transition: all 0.3s $global-transition-curve;
      will-change: transform;
      right: 5px;
      left: auto;
      top: 1.3rem;
      transform: translate(0, -50%);
      transform-origin: top;
    }

    &.mm-active::after {
      transform: rotate(-180deg) translate(0, -50%);
    }

    > a {
      padding-right: 1.5rem;
    }
  }
}
