/**
 * Foundation Pagination
 */

$pagination-font-size: rem-calc(14);
$pagination-margin-bottom: $global-margin;
$pagination-item-color: $black;
$pagination-item-padding: rem-calc(3 10);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: $light-gray;
$pagination-item-background-current: $primary-color;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $medium-gray;
$pagination-ellipsis-color: $black;
$pagination-mobile-items: false;
$pagination-mobile-current-item: false;
$pagination-arrows: false;

.pagination {
  @include pagination-container;

  &--current {
    @include pagination-item-current;
  }

  &--disabled {
    @include pagination-item-disabled;
  }

  &--ellipsis::after {
    @include pagination-ellipsis;
  }
}

@if $pagination-arrows {

  .pagination__previous a::before,
  .pagination__previous.pagination--disabled::before {
    display: inline-block;
    margin-#{$global-right}: 0.5rem;
    content: '\00ab';
  }

  .pagination__next a::after,
  .pagination__next.pagination--disabled::after {
    display: inline-block;
    margin-#{$global-left}: 0.5rem;
    content: '\00bb';
  }
}
