/**
 * Foundation Progress Bar
 */

$progress-height: 1rem;
$progress-background: $medium-gray;
$progress-margin-bottom: $global-margin;
$progress-meter-background: $primary-color;
$progress-radius: $global-radius;

// Progress bar
.progress {
  @include progress-container;

  // Inner meter
  &__meter {
    @include progress-meter;

    @each $name,
    $color in $foundation-palette {
      &--#{$name} {
        background-color: $color;
      }
    }
  }

  // Inner meter text
  &__meter-text {
    @include progress-meter-text;
  }
}
