/**
 * Tabs
 */

// Global
$tabs-margin-bottom: $global-margin;
// Tabs
$tabs-color: $white;
$tabs-background: $primary-color;
$tabs-spacing: $global-minimum-margin;
$tabs-radius: $global-radius;
$tabs-padding: $global-padding;
$tabs-font-size: inherit;
$tabs-outline: $global-outline;
$tabs-focus-color: $white;
$tabs-focus-background: darken($tabs-background, 10%);
$tabs-active-color: $white;
$tabs-active-background: $dark-gray;
// Panel
$tabs-panel-padding: 1rem;
$tabs-panel-background: $light-gray;
$tabs-panel-color: $black;
$tabs-panel-font-size: inherit;
$tabs-panel-outline: none;

.tabs {
  margin-bottom: $tabs-margin-bottom;

  /* Tablist */
  &__tablist {
    margin: 0;
    list-style: none;
  }


  &__tablist-item {
    display: inline-block;
  }


  &__tab {
    color: $tabs-color;
    display: inline-block;
    margin-right: $tabs-spacing;
    font-size: $tabs-font-size;
    line-height: 1.2;
    text-decoration: none;
    background-color: $tabs-background;
    border-radius: $tabs-radius $tabs-radius 0 0;
    padding: $tabs-padding;
    text-transform: uppercase;
    transition: background-color 0.2s $global-transition-curve, color 0.2s $global-transition-curve;

    &[tabindex="0"] {
      background-color: $tabs-active-background;
      color: $tabs-active-color;
    }

    &:not([tabindex="0"]):hover {
      background-color: $tabs-focus-background;
      color: $tabs-focus-color;
    }
    
    &:hover,
    &:focus {
      outline: $tabs-outline;
    }
  }

  &:not(&--is-ready) &__tablist {
    opacity: 0.25;
  }


  /* Tabpanel */
  &__panel {
    background-color: $tabs-panel-background;
    color: $tabs-panel-color;
    font-size: $tabs-panel-font-size;
    outline: $tabs-panel-outline;

    &[aria-hidden="true"] {
      display: none;
    }
  }


  &__inner {
    padding: $tabs-panel-padding;

    > :last-child {
      margin-bottom: 0;
    }
  }
}
